---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Sunset Bridge Holdings, LLC"
	heroImage="/sbh-logo.png"
>
	<p>
		Here at Sunset Bridge Holdings, LLC, we are a private holding company focused
		on acquiring and operating a diversified portfolio of cash-flowing businesses
		and long-term assets.
		<br>
		We focus on building lasting value by partnering with and improving strong,
		established businesses, with an emphasis on operational strength, steady
		growth, and long-term ownership rather than short-term trading or speculation.
	</p>

</Layout>
