---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<BaseHead title="About" description="About Sunset Bridge Holdings" />
	</head>
	<body>
		<Header />
		<main class="hero">
			<div class="hero-content">
				<h2>Thinking about the future of your business?</h2>
				<p>
					Whether you're considering retirement, succession planning, or simply exploring options, We'd welcome a confidential conversation.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
